<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Motorista</title>
</head>
<body>
<h1 th:if="${motorista.idMotorista == null}">Novo Motorista</h1>
<h1 th:if="${motorista.idMotorista != null}">Editar Motorista</h1>

<form action="#" th:action="@{/motoristas}" th:object="${motorista}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Nome: <input type="text" th:field="*{nome}" /></label><br>
    <label>CNH: <input type="text" th:field="*{cnh}" /></label><br>
    <label>Telefone: <input type="text" th:field="*{telefone}" /></label><br>
    <button type="submit">Salvar</button>
</form>
</body>
</html>
